<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>I can write</title>
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
    
<section class="sub-header">
    <nav>
        <img src="static/Images/R.png">
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="testimonials.html">TESTIMONIALS</a></li>
                <li><a href="about.html">ABOUT</a></li>
            </ul>        
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>Our Testimonials</h1>
</section>

<section class="testimonials">
    <h1>What Our Parents Say</h1>

    <div class "row">
        <div class="testimonials-col">
            <img src='static/Images/woman.jpg'>
            <div>
                <p>Lorem ipsonm dolor sit amet, consectetur adipiscing elit. Pellentesque.</p>
                <h3>Amanda Lim</h3>
            </div>
        </div>
        <div class="testimonials-col">
            <img src='static/Images/man.jpg'>
            <div>
                <p>Lorem ipsonm dolor sit amet, consectetur adipiscing elit. Pellentesque.</p>
                <h3>John Ang</h3>
            </div>
        </div>
   </div>
</section>
    
<!---- footer --->
    
<section class="footer">
    <h4>About Us</h4>
    <p>Our tool is AI based. We hope you and your toddlers can have hours of fun using <mark class="red">I can write</mark> on your journey to legible number handwriting.<br>Have Fun and Learn!</p>
    <br>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>            
    </div>
    <p>Made with <i class="fa fa-heart"></i> by Tiger MDs Association</p>
</section>
    
<!------ JavaScript for Toggle Menu  ---------->
<script>
    
    var navLinks = document.getElementById("navLinks");
    
    function showMenu(){
        navLinks.style.right = "0";
    }
     function hideMenu(){
        navLinks.style.right = "-200px";
    }
    
</script>    
    
</body>
</html>
